<div class="app-container">
  <!-- Navbar -->
  <header class="original-nav">
    <nav>
      <img
        src="assets/images/denteFeliz.png"
        alt="Logo Marlin"
        class="nav-logo"
      />
      <a routerLink="/">Início</a>
      <a routerLink="/planos">Planos</a>
      <a routerLink="/contato">Contato</a>
      <button mat-stroked-button class="login-btn" routerLink="/login">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </button>
    </nav>
  </header>

  <!-- Conteúdo Principal -->
  <main>
    <router-outlet></router-outlet>
  </main>

  <!-- Rodapé -->
  <footer class="marlin-footer">
    <div class="footer-border"></div>
    <div class="footer-content">
      <div class="footer-brand">
        <img
          src="assets/images/denteFeliz.png"
          alt="Logo Marlin"
          class="footer-logo"
        />
      </div>

      <div class="footer-links">
        <a routerLink="/">Início</a>
        <a routerLink="/planos">Planos</a>
        <a routerLink="/contato">Contato</a>
      </div>

      <!-- Redes sociais -->
      <div class="social-section">
        <div class="social-section">
          <p class="social-text">
            <mat-icon>thumb_up</mat-icon>Siga a gente nas redes sociais
          </p>
          <div class="social-icons">
            <!-- TikTok -->
            <a href="#" aria-label="TikTok"><mat-icon>music_video</mat-icon></a>

            <!-- X (Twitter) -->
            <a href="#" aria-label="X (Twitter)"
              ><mat-icon>flutter_dash</mat-icon></a
            >

            <!-- Instagram -->
            <a href="#" aria-label="Instagram"
              ><mat-icon>photo_camera</mat-icon></a
            >

            <!-- Facebook -->
            <a href="#" aria-label="Facebook"><mat-icon>thumb_up</mat-icon></a>

            <!-- YouTube -->
            <a href="#" aria-label="YouTube"
              ><mat-icon>play_circle</mat-icon></a
            >

            <!-- LinkedIn -->
            <a href="#" aria-label="LinkedIn"><mat-icon>work</mat-icon></a>
          </div>
        </div>
      </div>

      <!-- Informações legais -->
      <div class="footer-legal">
        <span>Desenvolvido por Larissa Gontijo</span><br />
        <span>Copyright© 2025</span><br />
        <span>Todos os direitos reservados</span><br />
        <a href="#">Política de Privacidade</a>
      </div>
    </div>
  </footer>
</div>
