.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80vh;
  padding: 2rem 5%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;

  .text-content {
    flex: 1;
    max-width: 600px;
    text-align: left;
  }

  .image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .logo {
    font-size: 3rem;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 1.5rem;

    span {
      color: #42b983;
    }
  }

  .slogan {
    font-size: 1.5rem;
    color: #495057;
    margin-bottom: 2rem;
    line-height: 1.4;
  }

  .pricing {
    margin: 2rem 0;
  }

  .price-label {
    font-size: 1.2rem;
    color: #6c757d;
  }

  .price-value {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 0.5rem 0;
  }

  .cta-button {
    background-color: #42b983;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 80px;

    &:hover {
      background-color: #369f6b;
    }
  }

  .imagem-dentista {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
    border-radius: 8px;
    border: 2px solid transparent;
  }
}

/* Responsividade - */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;

    .text-content {
      text-align: center;
      order: 2;
    }

    .image-content {
      order: 1;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }
}
